<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          text="Voltar">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="_formCadastrar" (ngSubmit)="submitForm()" novalidate>
    <ion-item-divider color="primary" class="ion-margin-top">
      <ion-label>
        Dados Pessoais
      </ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label position="floating">Nome:</ion-label>
      <ion-input type="text" formControlName="nome"></ion-input>
    </ion-item>
    <span *ngIf="_isSubmited && errorControl.nome.errors?.required">
      Nome é obrigatório
    </span>
    <span *ngIf="_isSubmited && errorControl.nome.errors?.minLength">
      É necessário preencher o nome completo
    </span>
    
    <ion-item>
      <ion-label position="floating">Telefone celular:</ion-label>
      <ion-input type="tel" formControlName="telefone" [brmasker]="{mask: '(00) 00000-0000', len:15}"></ion-input>
    </ion-item>
    <span *ngIf="_isSubmited && errorControl.telefone.errors?.required">
      Telefone é obrigatório
    </span>
    <span *ngIf="_isSubmited && errorControl.nome.errors?.minLength">
      É necessário preencher o telefone com DDD
    </span>
    <ion-item>
      <ion-select placeholder="Sexo" formControlName="sexo">
        <ion-select-option value="">Selecione</ion-select-option>
        <ion-select-option value="f">Feminino</ion-select-option>
        <ion-select-option value="m">Masculino</ion-select-option>
        <ion-select-option value="n">Não Declarado</ion-select-option>
      </ion-select>
    </ion-item>
    <span *ngIf="_isSubmited && errorControl.sexo.errors?.required">
      Sexo é obrigatório
    </span>
    <ion-item>
      <ion-datetime formControlName="data_nascimento" placeholder="Data de Nascimento" displayFormat="DD/MM/YYYY" min="1900-03-14" max="2021-26-08"></ion-datetime>
    </ion-item>
    <span *ngIf="_isSubmited && errorControl.data_nascimento.errors?.required">
      Data de nascimento é obrigatório
    </span>
    <section class="ion-margin-top ion-margin-bottom">
      <ion-button expand="block" strong="true" color="success" type="submit">Cadastrar</ion-button>
    </section>
  </form>
</ion-content>
