section{
    padding: 0 20px;
}

ion-item{
    max-width: 95%;
    &.last-group{
        margin-bottom: 20px;
    }
}

ion-item-divider{
    max-width: 95%;
    margin-left: 2%;
    border-radius: 15px;
}

span{
    color: red;
}