<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="_formLogar" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
      <ion-label position="floating">Email:</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <span *ngIf="_isSubmited && errorControl.email.errors?.required">
      Email é obrigatório
    </span>
    <span *ngIf="_isSubmited && errorControl.email.errors?.email">
      Formato de email incorreto
    </span>

    <ion-item>
      <ion-label position="floating">Senha:</ion-label>
      <ion-input type="password" formControlName="senha"></ion-input>
    </ion-item>
    <span *ngIf="_isSubmited && errorControl.senha.errors?.required">
      Senha é obrigatória
    </span>
    <span *ngIf="_isSubmited && errorControl.senha.errors?.minLength">
      Senha precisa possuir no minimo 6 caracteres
    </span>
    
    <section class="ion-margin-top ion-margin-bottom">
      <ion-button expand="block" strong="true" color="success" type="submit">Entrar</ion-button>
    </section>

    <section class="ion-margin-top ion-margin-bottom">
      <ion-button expand="full" strong="true" color="danger" (click)="logarComGmail()" slot="end">Entrar com Gmail<ion-icon slot="end" name="logo-google"></ion-icon></ion-button>
    </section>

    <section class="ion-margin-top ion-margin-bottom">
      <a (click)="irParaCadastrar()">Não tem cadastro? Clique Aqui</a>
    </section>
    <section class="ion-margin-top ion-margin-bottom">
      <a (click)="irParaRecuperar()">Esqueceu sua senha? Clique Aqui</a>
    </section>
  </form>
</ion-content>
